@font-face {
  font-family: 'Lato', sans-serif;
  src: url("fonts/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
};
@font-face {
  font-family: 'Lato', sans-serif;
  src: url("fonts/Lato-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: 700;
};
@font-face {
  font-family: 'Lora', serif;
  src: url("fonts/Lora-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
};